div{
    width: 400px;
    height: 200px;
    text-align: center;
    background-color:  #107532;
    margin:  10px auto; 
    box-shadow: 2px 4px 8px black;
    background-image: url("https://images.ctfassets.net/hrltx12pl8hq/2RwJp3f9UiCnfWBEunwxOQ/f11257994853124d7b1a6a935e678c13/0_hero.webp?fit=fill&w=600&h=400");
   background-size: cover;
   color: white;
}