*{
    font-family: "Courier New";
}

h3,h1{
   color: #b92b27 ;
}

#login{
    background-color: white;
}

#signup{
    background-color: #b92b27;
    color: white;
}
.upvote{
    background-color: green;
    color: aliceblue;
}
/* descendant selector */
.post a{
    color: purple;
    background-color: yellow;
}

     OR  /* // nav a */
nav ul li a{   
    color: hotpink;
}
p + h3{
     text-decoration: underline;
}
.upvote + button{
    background-color:cornflowerblue ;
    color: darkblue;
       
}
div>input{
    background-color: darksalmon;
}
input[type="text"]{
    color: red;
}

input[type="password"]{
    color: green;
}

button:hover{
    background-color: black;
    color: white;
}
button:active{
    background-color: dark pink;
    color: black;
}
p:active{
    font-weight: bold;
    color:green;
}

input[type="radio"]:checked + label{
    color: red;
    font-weight: bold;
}

div:nth-of-type(2n){
    background-color: blanchedalmond;
}
h1::first-letter{
    color: green;
}
#pseudo::first-line{
    color: blue;
}
#pseudo::selection{
    color: rgb(82, 234, 82);
}